<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" text="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" text="text/css" href="/assets/main.css">
    <meta charset="utf-8">
    <title> Task: <%=@task.id%></title>
  </head>

  <body>
      <h1>Viewing Task</h1>

      <h2><%=@task.body%></h2>
      <hr>
      <h3>ID for modification:<%=@task.id%></h3>
      <hr>
      <hr>
      <ul>
        <li>
          <a href = '../tasks'>Tasks</a>
        </li>
      </ul>
  </body>

</html>
